h2
  width 100%
  font-size em(30px)
  font-family verdana, arial
  font-weight normal
  margin 30px 0
  text-align center

h3
  text-align center
  margin 15px 0
  font-size em(22px)
  font-family verdana, arial
  font-weight normal