.container-buttons
  position relative
  display flex
  justify-content space-between
  flex-wrap wrap
  width 210px
  margin-top 15px

  > .buttonsave
    width 100px
    height 35px
    border-radius 2px
    background-color $primaryColor
    min-width 100px
    border none
    color #FFF
    font-size rem(16px)
    border-radius 2px
    transition(all, 0.2s, linear)

  > .buttoncancel
    width 100px
    height 35px
    line-height 35px
    background #AF2828
    border none
    color #FFF
    font-size rem(16px)
    border-radius 2px
    vertical-align middle
    text-align center
    vertical-align middle
    transition(all, 0.2s, linear)

.buttondisabled
  background #ddd