$darkPrimaryColor     = #212121
$primaryColor         = #1C94C4
$lightPrimaryColor    = #9E9E9E
$textPrimaryColor     = #FFFFFF
$accentColor          = #ff9800
$darkAccentColor      = #616161
$secondaryTextColor   = #F4F4F4
$dividerColor         = #B6B6B6