section.title
  div.name Operações

section
  h3 Transações realizadas
  table.table
    thead
      tr.tr
        th.th Código
        th.th Nome
        th.th Tipo
        th.th Tipo Negócio
        th.th Preço
        th.th Qtd
        th.th Data Cadastro
    tbody
      tr.tr(data-ng-repeat="mercadoria in ::mercadorias track by mercadoria.idMercadoria")
        td.td {{mercadoria.codigo}}
        td.td {{mercadoria.nome}}
        td.td {{mercadoria.tipo}}
        td.td {{mercadoria.tipoNegocio}}
        td.td {{mercadoria.preco}}
        td.td {{mercadoria.quantidade}}
        td.td {{mercadoria.dataCadastro | date : dateFormat}}