.page-content
  margin-top $contentMarginTop
  width 83%
  position inherit
  padding 30px
  float right

  > .title
    width 100%
    margin-bottom 20px
    > .name
      font-size em(22px)
      color $primaryColor