div.top-bar
  div.nameaplicacao Teste do Mercado
  div.menu
    div.home
      a.link(data-ng-href="{{systemUri.home()}}", title="Ir para a Home")
        img.icon(data-ng-src="/build/images/icon_home.png")