doctype html
html(lang="pt-br", data-ng-app="testeMercado")
  head
    meta(charset='utf8')
    base(href='/')
    title="Teste do Mercado"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', href='build/css/index.css')
    link(rel='shortcut icon', href='image/favicon.ico', type='image/x-icon')
  body
      block body