nav.menu
  div.category
    img.icon(data-ng-src="/build/images/icon_servicos.png")
    div.name MERCADORIA

  ul.list
    li.item
      a.link(data-ng-href="{{systemUri.mercadoriasCreate()}}", title="Cadastro")
        div.label Cadastro

    li.item
      a.linka.link(data-ng-href="{{systemUri.mercadorias()}}", title="Operações")
        div.label Operações
